@font-face {
  font-family: "Inter";
  src: url(../font/Inter-VariableFont_slnt\wght.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* light */
  --regular-fontsize: 1.6rem;
  --font-color-light: #f6f6f6;
  --bg-lightGrey: #f8f7fc;
  --bg-white: #ffffff;
  --font-color-lightTheme: #09181f;
  --font-color-lighter-lightTheme: #284456;
  --accent-color: #6eccb4;
  --accent-color-light: #eefbf7;
}
img {
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: Montserrat;
  background-color: var(--bg-lightGrey);
  color: var(--font-color-lightTheme);
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
  font-weight: 500;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2.8rem;
  font-weight: 400;
  padding-bottom: 0.3rem;
}

h5 {
  font-size: 2.3rem;
  font-weight: 400;
  padding-bottom: 1vh;
}

h6 {
  font-size: 1.9rem;
}
span {
  font-size: 16rem;
  line-height: 90%;
  padding-bottom: 8vh;
}

p {
  font-size: var(--regular-fontsize);
}

header {
  padding: 2vh 4vw 30vh 4vw;
  background-image: url(../img/day.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4vh;
}

input {
  font-size: var(--regular-fontsize);
  max-width: 60%;
  padding: 1.3rem 3rem;
  border-radius: 3rem;
  margin-left: 10vw;

  background-color: var(--bg-lightGrey);
  border: none;

  /* 
  border: 2px solid var(--font-color-light);
   background: none;
  */
  margin-right: 1rem;
}

button {
  padding: 0.6rem 0.8rem;
  border-radius: 3rem;
  color: var(--font-color-light);
  fill: var(--bg-white);
  border: none;
  background-color: var(--accent-color);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.logo {
  font-size: 2.3rem;
  fill: var(--bg-white);
}

/* ! ver 1
.main-info {
  color: var(--bg-white);
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.temp-img-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
*/

/* # ver 2 */
.main-clock {
  color: var(--bg-white);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.main-clock article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.additional-info {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: var(--bg-white);
  border-radius: 3.2rem;
  padding: 3vh 4vw;
  margin-left: 4vw;
  margin-right: 4vw;
  filter: drop-shadow(5px 5px 20px rgba(110, 204, 180, 0.1));
  /* rgba(110, 204, 180, 0.1)  */
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-column img {
  width: 30px;
  padding-bottom: 1vh;
}

.five-day-forecast {
  background-color: var(--bg-lightGrey);
  padding: 4vh 4vw;
}

.forecast-selection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 2vh;
}
.forecast-selection a {
  font-size: 2.3rem;
  color: var(--font-color-lightTheme);
}

.forecast-selection a:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  fill: var(--accent-color);
  color: var(--accent-color);
}

.forecast-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.6rem;
}

.forecast-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-white);
  padding: 2vh 3vw;
  border-radius: 4rem;
  filter: drop-shadow(5px 5px 8px rgba(0, 0, 0, 0.05));
}

.forecast-card:first-of-type {
  background-color: var(--accent-color);
  color: var(--font-color-light);
}

.forecast-card img {
  width: 50px;
}

.rain-map-section {
  border-radius: 1rem;
}
.rain-map {
  background-image: url(../img/Mock-rainmap.png);
  background-position: center;
  background-size: cover;
  border-radius: 3rem;
  height: 30vh;
  padding: 2vh 2vw;
}

.map-space {
  padding: 0.6rem 1.6rem;
  border-radius: 2rem;
  font-size: var(--regular-fontsize);
  background-color: var(--accent-color);
  color: var(--font-color-light);
}
